<h1>Criar Nova OS</h1>
<form action="/os/create" method="post">
  <label for="OS">OS:</label>
  <input type="number" name="OS" required>
  <label for="SETOR">Setor:</label>
  <input type="text" name="SETOR" required>
  <label for="PERIODO">Período:</label>
  <input type="date" name="PERIODO" required>
  <label for="EQUIPAMENTOS">Equipamentos:</label>
  <input type="text" name="EQUIPAMENTOS" required>
  <label for="ESTADO">Estado:</label>
  <input type="text" name="ESTADO" required>
  <label for="TIPO_EQUIP">Tipo de Equipamento:</label>
  <input type="text" name="TIPO_EQUIP" required>
  <button type="submit">Criar</button>
</form>
<a href="/os">Voltar</a>
